<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>珠宝交易平台</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css"/>
<script type="text/javascript" src="/javascripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/javascripts/js_z.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/thems.css">

</head>

<body>
<!--头部-->
<div class="head clearfix">
    <div class="logo"><a href="/login"><img src="/images/logo.png" alt="福瑞星"/></a></div>
    <div class="head_r">
    	<div class="shopcar"><a href="/shopcar">我的购物车</a></div>
        <div class="by"><img src="/images/icon1.png" alt=""/></div>
    </div>
</div>
<ul class="nav clearfix">
    <li class="now"><a href="/login">首页</a></li>
    <li><a href="/search">裸钻搜索</a></li>
    <li><a href="/product">成品下单区</a></li>
    <li><a href="/price">国际钻石报价表</a></li>
    <li><a href="/diploma">证书查询</a></li>
    <li><a href="/payway">支付方式</a></li>
    <li><a href="/about">关于我们</a></li>
    <li><a href="/contact">联系我们</a></li>
    <li><a href="/user">会员中心</a></li>
</ul>
<!--头部-->
<div class="space_hx">&nbsp;</div>
<div class="i_mian clearfix">
	<div class="bg_a">&nbsp;</div>
	<div class="i_ma clearfix">
    	<div class="i_mal">
    		<!--幻灯片-->
            <div class="banner">
                <div id="inner">
                    <div class="hot-event">
                        <div class="event-item" style="display: block;">
                            <a target="_blank" href="/login" class="banner">
                                <img src="/images/banner_a.png" class="photo" alt="福瑞星" />
                            </a>
                        </div>
                        <div class="event-item" style="display: none;">
                            <a target="_blank" href="/login" class="banner">
                                <img src="/images/banner_b.png" class="photo" alt="福瑞星" />
                            </a>
                        </div>
                        <div class="event-item" style="display: none;">
                            <a target="_blank" href="/login" class="banner">
                                <img src="/images/banner_c.png" class="photo" alt="福瑞星" />
                            </a>
                        </div>
                        <div class="switch-tab">
                            <a href="#" onClick="return false;" class="current">1</a>
                            <a href="#" onClick="return false;">2</a>
                            <a href="#" onClick="return false;">3</a>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $('#inner').nav({ t: 6000, a: 500 });
                </script>
            </div>
            <!--幻灯片-->
            <div class="space_hx">&nbsp;</div>
            <div class="alm">
            	<p class="f24">欢迎光临珠宝交易平台网上钻石交易平台，很荣幸您成为我们尊贵的客户。</p>
                <p>如果您是第一次登陆我们的网站，请您先注册成为我们的会员，在客户经理审核您的资料并通过后，便可登陆查询（温馨提示：请您务必使用真实信息，以便我们与您第一时间取得联系，为您提供更优质的服务）如果您遇到任何疑问，请致电客户经理与您及时沟通。</p>
                <p class="f16">
                	您还在为没有合适的货源而烦恼吗？快<a href="/reg">注册</a>成为我们的会员，便捷又快速的查询您想要的信息吧！
                </p>
            </div>
        </div>
        <div class="i_mar">
            <ul class="i_login">
                <form method="POST" action="/login">
            	<li class="name">会员登录</li>
                <li class="clearfix">
                	<span>用户名：</span>
                    <input type="text" name="name" placeholder="用户名">	
                </li>
                <li class="clearfix">
                	<span>密&nbsp;&nbsp;码：</span>
                    <input type="password" name="password" placeholder="密码">
                    <%if(message) {%>
                        <p> <%= message%> </p>
                       <% } %>	   
                </li>
                <li class="btn">
                	<a href="/reg">注册</a>
                    <input name="" type="submit" value="登录">
                </li>
                <!-- <li class="forget">
                	<a href="/reg">忘记密码?</a>
                </li> -->
            </form>
            </ul>
        </div>
    </div>
    <div class="space_hx">&nbsp;</div>
    <div class="i_mb">
    	<p>公司宗旨: 诚信为本  立足长远 .锐意进取 合作共赢。</p>
        <p>业务范围: GIA 国检及散货裸石批发，各种钻石首饰的设计、订制及加工。</p>
        <p>公司文化: 完善的售后服务是我们追求的终极目标。以信为本，以诚待客是我们不变的信仰。</p>
    </div>
</div>
<div class="space_hx">&nbsp;</div>
<!--底部-->
<div class="foot">
	<p>Copyright 2015 © 珠宝交易平台 All rights reserved. <a href="/login">最新公告</a> | <a href="/login">联系我们</a></p>
</div>
<!--底部-->
</body>
</html>
