<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>后台管理系统</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/jquery.mCustomScrollbar.concat.min.js"></script>
<script>

	(function($){
		$(window).load(function(){
			
			$("a[rel='load-content']").click(function(e){
				e.preventDefault();
				var url=$(this).attr("href");
				$.get(url,function(data){
					$(".content .mCSB_container").append(data); //load new content inside .mCSB_container
					//scroll-to appended content 
					$(".content").mCustomScrollbar("scrollTo","h2:last");
				});
			});
			
			$(".content").delegate("a[href='top']","click",function(e){
				e.preventDefault();
				$(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
			});
			
		});
	})(jQuery);
</script>
</head>
<body>
<!--header-->
<header>
 <h1><img src="/images/admin_logo.png"/></h1>
 <ul class="rt_nav">
  <li><a href="http://XXX" target="_blank" class="website_icon">站点首页</a></li>
  <li><a href="#" class="clear_icon">清除缓存</a></li>
  <li><a href="#" class="admin_icon">DeathGhost</a></li>
  <li><a href="#" class="set_icon">账号设置</a></li>
  <li><a href="/login" class="quit_icon">安全退出</a></li>
 </ul>
</header>
<!--aside nav-->
<!--aside nav-->
<aside class="lt_aside_nav content mCustomScrollbar">
 <h2><a href="/index">起始页</a></h2>
 <ul>
  <li>
   <dl>
    <dt>常用布局示例</dt>
    <!--当前链接则添加class:active-->
    <dd><a href="/product_list" class="active">商品列表示例</a></dd>
    <!-- <dd><a href="/product_detail">商品详情示例</a></dd> -->
   </dl>
  </li>
  <li>
   <dl>
    <dt>订单信息</dt>
    <dd><a href="/order_list">订单列表示例</a></dd>
    <dd><a href="/order_detail">订单详情示例</a></dd>
   </dl>
  </li>
  <!-- <li>
   <dl>
    <dt>会员管理</dt>
    <dd><a href="user_list.html">会员列表示例</a></dd>
    <dd><a href="user_detail.html">添加会员（详情）示例</a></dd>
    <dd><a href="user_rank.html">会员等级示例</a></dd>
    <dd><a href="adjust_funding.html">会员资金管理示例</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>基础设置</dt>
    <dd><a href="setting.html">站点基础设置示例</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>配送与支付设置</dt>
    <dd><a href="express_list.html">配送方式</a></dd>
    <dd><a href="pay_list.html">支付方式</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>在线统计</dt>
    <dd><a href="discharge_statistic.html">流量统计</a></dd>
    <dd><a href="sales_volume.html">销售额统计</a></dd>
   </dl>
  </li>
  <li>
   <p class="btm_infor">© XXX 版权所有</p>
  </li> -->
 </ul>
</aside>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">订单详情示例</h2>
      </div>
      <table class="table">
           <thead>
                <tr>
                    <td>订单信息表id</td>
                    <td>收件人</td>
                    <td>联系电话</td>
                    <td>收件地址</td>
                    <td>下单时间</td>
                    <td>付款时间</td>
                </tr>
           <thead>
          <tbody id="t_body1">

          </tbody>

          <thead>
               <tr>
                    <td>收件时间</td>
                    <td>评价时间</td>
                    <td>订单状态</td>
                    <td>订单备注</td>
                    <td>产品id</td>
                    <td>产品名称</td>
               </tr>
           </thead>
          <tbody id="t_body2">

          </tbody>

          <thead>
               <tr>
                    <td>购买数量</td>
                    <td>产品单价</td>
                    <td>优惠金额</td>
                    <td>实付金额</td>
                </tr>
          </thead>
          <tbody id="t_body3">

          </tbody>
       
      </table>
      <!-- <aside class="mtb" style="text-align:right;">
       <label>管理员操作：</label>
       <input type="text" class="textbox textbox_295" placeholder="管理员操作备注"/>
       <input type="button" value="打印订单" class="group_btn"/>
       <input type="button" value="确认订单" class="group_btn"/>
       <input type="button" value="付款" class="group_btn"/>
       <input type="button" value="配货" class="group_btn"/>
       <input type="button" value="发货" class="group_btn"/>
       <input type="button" value="确认收货" class="group_btn"/>
      </aside> -->
 </div>
</section>
<script>
      function load(){
          $.ajax({
          type:"get",
          url:"/order_detail/get_list",
          async:false,
          success:function(data){
               $('#t_body').empty();
               for(var i in data){
                    $("#t_body1").append(`<tr>
                         <td class="center">${data[i].order_detail_id}</td>
                         <td class="center">${data[i].re_name}</td>
                         <td class="center">${data[i].tel}</td>
                         <td class="center">${data[i].address}</td>
                         <td class="center">${data[i].buy_time}</td>
                         <td class="center">${data[i].pay_time}</td>
                    </tr>
                         
                    `)
                    $("#t_body2").append(`<tr>
                         
                    
                         <td class="center">${data[i].put_time}</td>
                         <td class="center">${data[i].evalute_time}</td>
                         <td class="center">${data[i].order_statu}</td>
                         <td class="center">${data[i].order_remark}</td>
                         <td class="center">${data[i].product_id}</td>
                         <td class="center">${data[i].product_name}</td>
                         
                       </tr>
                    `)
                    $("#t_body3").append(`<tr>
                         
                    
                         
                         
                         <td class="center">${data[i].product_cnt}</td>
                         <td class="center">${data[i].product_price}</td>
                         <td class="center">${data[i].free_money}</td>
                         <td class="center">${data[i].pay_money}</td>
                         </tr>
                    `)
               }
          }
     })
     }
     load();
</script>
</body>
</html>
