<!doctype html>
<html>
<head>
<title>注册</title>
<link rel="stylesheet" href="/stylesheets/login.css"/>
<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
<script src="/javascripts/jquery-3.6.0.js"></script>
</head>
</head>
<body style="background-color: cornsilk; background-image:url(images/OIP.jpg);">
<div id="login-box">
    <h1>用户注册</h1>
            <div class="form">
                <div class="item">
                   <i class="fa fa-github-alt" style="font-size:24px"></i>
                   <span style="color: rgb(20, 157, 220);">输入用户名:</span><input type="text" name="name" placeholder="用户名" onblur="user" id="username"></br>
                   <span id="tipuser"></span>                  
                   <label id="nameWarn"> </label>		   
                </div>
                <div class="item">
                   <i class="fa fa-search" style="font-size:24px"></i>
                   <span style="color:  rgb(20, 157, 220);">输入密码:</span><input type="password" name="password" placeholder="密码" onblur="pass" id="password"></br>
                   <span id="tippass"></span>		   
                </div>
                <div class="item">
                    <i class="fa fa-search" style="font-size:24px"></i>
                    <span style="color: rgb(20, 157, 220);">再次输入密码:</span><input type="password" name="rpassword" placeholder="确认密码" onblur="checkpass" id="rpassword"></br>
                    <span id="tipemail"></span>		   
                 </div>
                 <div class="item">
                  <i class="fa fa-search" style="font-size:24px"></i>
                  <span style="color: rgb(20, 157, 220);">电话号码:</span><input type="text" name="tel" placeholder="输入手机号码" onblur="phone" id="telnum"></br>
                  <span id="telphone"></span>	
                  </div>
                  <!-- <div class="item">
                     <i class="fa fa-search" style="font-size:24px"></i>
                     <span style="color: rgb(20, 157, 220);">邮箱:</span><input type="email" name="email" placeholder="输入正确邮箱地址" onblur="emailon" id="emailid"></br>
                     <span id="emailsid"></span>	
                  </div>	    -->
               </div>    
                 <button type="submit" id="input_reg">注册</button>
               </div>
            <script src="/javascripts/ajax.js"></script>
</body>
</html>