<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>福瑞星</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css"/>
<script type="text/javascript" src="/javascripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/javascripts/js_z.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/thems.css">

</head>

<body>
<!--头部-->
<div class="head clearfix">
    <div class="logo"><a href="/login"><img src="/images/logo.png" alt="福瑞星"/></a></div>
    <div class="head_r">
    	<div class="shopcar"><a href="/shopcar">我的购物车</a></div>
        <div class="by"><img src="/images/icon1.png" alt=""/></div>
    </div>
</div>
<ul class="nav clearfix">
    <li><a href="/login">首页</a></li>
    <li><a href="/search">裸钻搜索</a></li>
    <li><a href="/product">成品下单区</a></li>
    <li><a href="/price">国际钻石报价表</a></li>
    <li><a href="/diploma">证书查询</a></li>
    <li><a href="/payway">支付方式</a></li>
    <li><a href="/about">关于我们</a></li>
    <li><a href="/contact">联系我们</a></li>
    <li class="now"><a href="/user">会员中心</a></li>
</ul>
<!--头部-->
<div class="space_hx">&nbsp;</div>
<div class="scd">
	<div class="pst">
    	<span>您现在的位置：</span>
        <a href="/login">首页></a>
        <a href="/login">会员中心</a>
    </div>
    <div class="user clearfix">
    	<div class="u_l">
        	<div class="u_la">
            	<div class="box_h"><span>我的账户</span></div>
                <div class="box_m">
                	<img src="/images/pic5.jpg" alt=""/>
                    <p>用户名：李博康</p>
                </div>
            </div>
            <div class="space_hx">&nbsp;</div>
            <div class="u_lb">
            	<div class="box_h"><span>个人中心</span></div>
                <div class="box_m">
                	<ul>
                    	<li><a href="/user">用户信息</a></li>
                        <li class="now"><a href="/shopcar">我的购物车</a></li>
                        <li><a href="/repwd">修改密码</a></li>
                        <li><a href="/book">我的留言</a></li>
                        <li><a href="/address">收货地址</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="u_r">
            <div class="user_m user_ma clearfix">
            	<div class="shopcar">
                	<div class="p_s">
                    	<input name="" checked type="checkbox" value="" id="all">
                        <span><label for="all">全部</label></span>
                        <input name="" type="checkbox" value="" id="luo">
                        <span><label for="luo">裸钻</label></span>
                        <input name="" type="checkbox" value="" id="jie">
                        <span><label for="jie">戒指</label></span>
                    </div>
                    <div class="car_m">
                    	<table cellpadding="0" cellspacing="0">
                          <tr>
                            <td class="tu"><a href="/login"><img src="/images/pic7.jpg" alt=""/></a></td>
                            <td class="des">
                            	<div class="title">品名：D000327 (共2件)</div>
                                <span>货号：HC0008131	18K</span>
                                <span>金重：2.36g</span>
                                <span>PT金重：3.36g</span>
                                <span>主石：0.195ct</span>
                                <span>副石：无副石</span>
                            </td>
                            <td><div class="price">RMB:<em>19850</em></div></td>
                            <td><a href="/login">删除</a></td>
                          </tr>
                          <tr>
                            <td class="tu"><a href="/login"><img src="/images/pic7.jpg" alt=""/></a></td>
                            <td class="des">
                            	<div class="title">品名：D000327 (共2件)</div>
                                <span>货号：HC0008131	18K</span>
                                <span>金重：2.36g</span>
                                <span>PT金重：3.36g</span>
                                <span>主石：0.195ct</span>
                                <span>副石：无副石</span>
                            </td>
                            <td><div class="price">RMB:<em>19850</em></div></td>
                            <td><a href="/login">删除</a></td>
                          </tr>
                          <tr>
                            <td class="tu"><a href="/login"><img src="/images/pic7.jpg" alt=""/></a></td>
                            <td class="des">
                            	<div class="title">品名：D000327 (共2件)</div>
                                <span>货号：HC0008131	18K</span>
                                <span>金重：2.36g</span>
                                <span>PT金重：3.36g</span>
                                <span>主石：0.195ct</span>
                                <span>副石：无副石</span>
                            </td>
                            <td><div class="price">RMB:<em>19850</em></div></td>
                            <td><a href="/login">删除</a></td>
                          </tr>
                          <tr>
                            <td class="tu"><a href="/login"><img src="/images/pic7.jpg" alt=""/></a></td>
                            <td class="des">
                            	<div class="title">品名：D000327 (共2件)</div>
                                <span>货号：HC0008131	18K</span>
                                <span>金重：2.36g</span>
                                <span>PT金重：3.36g</span>
                                <span>主石：0.195ct</span>
                                <span>副石：无副石</span>
                            </td>
                            <td><div class="price">RMB:<em>19850</em></div></td>
                            <td><a href="/login">删除</a></td>
                          </tr>
                        </table>
						<div class="s_order">
                        	<span>已选：<b>5</b>件</span>
                            <span>总计：<b>99250</b></span>
                            <a href="/login">立即下单</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space_hx">&nbsp;</div>
<!--底部-->
<div class="foot">
	<p>Copyright 2015 © 珠宝交易平台 All rights reserved. <a href="/login">最新公告</a> | <a href="/login">联系我们</a></p>
</div>
<!--底部-->
</body>
</html>
