<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>福瑞星</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css"/>
<script type="text/javascript" src="/javascripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/javascripts/js/js_z.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/thems.css">
</head>

<body>
<!--头部-->
<div class="head clearfix">
  <div class="logo"><a href="/login"><img src="/images/logo.png" alt="福瑞星"/></a></div>
  <div class="head_r">
    <div class="shopcar"><a href="shopcar.html">我的购物车</a></div>
    <div class="by"><img src="/images/icon1.png" alt=""/></div>
  </div>
</div>
<ul class="nav clearfix">
  <li><a href="/login">首页</a></li>
  <li><a href="search.html">裸钻搜索</a></li>
  <li><a href="product.html">成品下单区</a></li>
  <li><a href="price.html">国际钻石报价表</a></li>
  <li><a href="diploma.html">证书查询</a></li>
  <li><a href="payway.html">支付方式</a></li>
  <li><a href="about.html">关于我们</a></li>
  <li><a href="contact.html">联系我们</a></li>
  <li class="now"><a href="user.html">会员中心</a></li>
</ul>
<!--头部-->
<div class="space_hx">&nbsp;</div>
<div class="scd">
  <div class="pst"> <span>您现在的位置：</span> <a href="/login">首页></a> <a href="index.html">会员中心</a> </div>
  <div class="user clearfix">
    <div class="u_l">
      <div class="u_la">
        <div class="box_h"><span>我的账户</span></div>
        <div class="box_m"> <img src="/images/pic5.jpg" alt=""/>
          <p>用户名：黄瓒</p>
        </div>
      </div>
      <div class="space_hx">&nbsp;</div>
      <div class="u_lb">
        <div class="box_h"><span>个人中心</span></div>
        <div class="box_m">
          <ul>
            <li><a href="user.html">用户信息</a></li>
            <li><a href="shopcar.html">我的购物车</a></li>
            <li><a href="repwd.html">修改密码</a></li>
            <li><a href="book.html">我的留言</a></li>
            <li class="now"><a href="/address">收货地址</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="u_r">
      <div class="user_m clearfix">
        <div class="address">
          	<ul class="reg ads_a">
            	<li class="clearfix">
                	<span class="title"><em>新增收货地址</em></span>
                    <div class="li_m">电话号码、手机号选填一项,其余均为必填项</div>
                </li>
                <li class="clearfix dz">
                	<span class="title">所在地区<em>*</em></span>
                    <div class="li_m">
                    	<select name="">
                        	<option>中国大陆</option>
                            <option>台湾</option>
                            <option>港澳</option>
                        </select>
                        <select name="" class="chang">
                        	<option>北京市</option>
                            <option>广东省</option>
                            <option>湖南省</option>
                        </select>
                    </div>
                </li>
                <li class="clearfix xxdz">
                	<span class="title">详细地址<em>*</em></span>
                    <div class="li_m">
                    	<textarea name="" cols="" rows="">建议您如实填写详细的收货地址，例如街道名称，门牌号码，楼层和房间号等信息</textarea>
                    </div>
                </li>
                <li class="clearfix">
                	<span class="title">邮政编码</span>
                    <div class="li_m">
                    	<input name="" type="text" placeholder="如您不清楚邮递区号，请填写000000">
                    </div>
                </li>
                <li class="clearfix">
                	<span class="title">收货人姓名<em>*</em></span>
                    <div class="li_m">
                    	<input name="" type="text" placeholder="长度不超过25个字符">
                    </div>
                </li>
                <li class="clearfix sj">
                	<span class="title">手机号码</span>
                    <div class="li_m">
                    	<select name="">
                        	<option>中国大陆 +86</option>
                            <option>香港 +852</option>
                            <option>澳门 +853</option>
                        </select>
                    	<input name="" type="text" placeholder="电话号码、手机号码必须填一项">
                    </div>
                </li>
                <li class="clearfix tel">
                	<span class="title">电话号码</span>
                    <div class="li_m">
                    	<select name="">
                        	<option>中国大陆 +86</option>
                            <option>香港 +852</option>
                            <option>澳门 +853</option>
                        </select>
                    	<input name="" type="text" placeholder="区号">-<input name="" type="text" placeholder="电话号码">-<input name="" type="text" placeholder="分机">
                    </div>
                </li>
                <li class="clearfix mr">
                	<span class="title">&nbsp;</span>
                    <div class="li_m">
                    	<input name="" type="checkbox" value="" id="mr">
                        <label for="mr"><span>设置为默认收货地址</span></label>
                        
                    </div>
                </li>
                <li class="clearfix">
                	<span class="title">&nbsp;</span>
                    <div class="li_m">
                    	<input name="" type="submit" value="保存">
                    </div>
                </li>
            </ul>
            <div class="space_hx">&nbsp;</div>
            <table class="ads_b" cellpadding="0" cellspacing="0">
              <tr>
                <th scope="col">收货人</th>
                <th scope="col">所在地区</th>
                <th scope="col">详细地址</th>
                <th scope="col">邮编</th>
                <th scope="col">电话/手机</th>
                <th scope="col">操作</th>
                <th scope="col">&nbsp;</th>
              </tr>
              <tr>
                <td>黄瓒</td>
                <td>广东省 深圳市 宝安区 新安街道</td>
                <td>宝安25区华丰时代广场5楼B08</td>
                <td>518100</td>
                <td>86-13*******46</td>
                <td><a href="/login">修改</a> | <a href="/login">删除</a></td>
                <td><a href="/login" class="x_mr active">默认地址</a></td>
              </tr>
              <tr>
                <td>黄瓒</td>
                <td>广东省 深圳市 宝安区 新安街道</td>
                <td>宝安25区华丰时代广场5楼B08</td>
                <td>518100</td>
                <td>86-13*******46</td>
                <td><a href="/login">修改</a> | <a href="/login">删除</a></td>
                <td><a href="/login" class="x_mr">默认地址</a></td>
              </tr>
              <tr>
                <td>黄瓒</td>
                <td>广东省 深圳市 宝安区 新安街道</td>
                <td>宝安25区华丰时代广场5楼B08</td>
                <td>518100</td>
                <td>86-13*******46</td>
                <td><a href="/login">修改</a> | <a href="/login">删除</a></td>
                <td><a href="/login" class="x_mr">默认地址</a></td>
              </tr>
              <tr>
                <td>黄瓒</td>
                <td>广东省 深圳市 宝安区 新安街道</td>
                <td>宝安25区华丰时代广场5楼B08</td>
                <td>518100</td>
                <td>86-13*******46</td>
                <td><a href="/login">修改</a> | <a href="/login">删除</a></td>
                <td><a href="/login" class="x_mr">默认地址</a></td>
              </tr>
            </table>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="space_hx">&nbsp;</div>
<!--底部-->
<div class="foot">
  <p>Copyright 2015 © 珠宝交易平台 All rights reserved. <a href="/login">最新公告</a> | <a href="/login">联系我们</a></p>
</div>
<!--底部-->
</body>
</html>
