<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>福瑞星</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css"/>
<script type="text/javascript" src="/javascripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/javascripts/js_z.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/thems.css">

</head>

<body>
<!--头部-->
<div class="head clearfix">
    <div class="logo"><a href="/login"><img src="/images/logo.png" alt="福瑞星"/></a></div>
    <div class="head_r">
    	<div class="shopcar"><a href="/shopcar">我的购物车</a></div>
        <div class="by"><img src="/images/icon1.png" alt=""/></div>
    </div>
</div>
<ul class="nav clearfix">
    <li><a href="/login">首页</a></li>
    <li><a href="/search">裸钻搜索</a></li>
    <li><a href="/product">成品下单区</a></li>
    <li><a href="/price">国际钻石报价表</a></li>
    <li><a href="/diploma">证书查询</a></li>
    <li><a href="/payway">支付方式</a></li>
    <li><a href="/about">关于我们</a></li>
    <li><a href="/contact">联系我们</a></li>
    <li class="now"><a href="/user">会员中心</a></li>
</ul>
<!--头部-->
<div class="space_hx">&nbsp;</div>
<div class="scd">
	<div class="pst">
    	<span>您现在的位置：</span>
        <a href="/login">首页></a>
        <a href="/login">会员中心</a>
    </div>
    <div class="user clearfix">
    	<div class="u_l">
        	<div class="u_la">
            	<div class="box_h"><span>我的账户</span></div>
                <div class="box_m">
                	<img src="/images/pic5.jpg" alt=""/>
                    <p>用户名：李博康</p>
                </div>
            </div>
            <div class="space_hx">&nbsp;</div>
            <div class="u_lb">
            	<div class="box_h"><span>个人中心</span></div>
                <div class="box_m">
                	<ul>
                    	<li><a href="/user">用户信息</a></li>
                        <li><a href="/shopcar">我的购物车</a></li>
                        <li><a href="/repwd">修改密码</a></li>
                        <li class="now"><a href="/book">我的留言</a></li>
                        <li><a href="/address">收货地址</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="u_r">
            <div class="user_m clearfix">
            	<ul class="u_ml book">
                	<li class="clearfix sex">
                    	<span class="title">留言类型：</span>
                        <div class="li_m">
                        	<input name="ly" type="radio" value="" id="s1" checked>
                            <span><label for="s1">留言</label></span>
                            <input name="ly" type="radio" value="" id="s2">
                            <span><label for="s2">投诉</label></span>
                            <input name="ly" type="radio" value="" id="s3">
                            <span><label for="s3">售后</label></span>
                            <input name="ly" type="radio" value="" id="s4">
                            <span><label for="s4">求购</label></span>
                        </div>
                    </li>
                    <li class="clearfix">
                    	<span class="title">标题：</span>
                        <div class="li_m">
                        	<input name="" type="text"><i>*</i>
                        </div>
                    </li>
                    <li class="clearfix">
                    	<span class="title">联系人：</span>
                        <div class="li_m">
                        	<input name="" type="text"><i>*</i>
                        </div>
                    </li>
                    <li class="clearfix">
                    	<span class="title">E-mail：</span>
                        <div class="li_m">
                        	<input name="" type="text"><i>*</i>
                        </div>
                    </li>
                    <li class="clearfix">
                    	<span class="title">单位名称：</span>
                        <div class="li_m">
                        	<input name="" type="text">
                        </div>
                    </li>
                    <li class="clearfix">
                    	<span class="title">主页：</span>
                        <div class="li_m">
                        	<input name="" type="text">
                        </div>
                    </li>
                    <li class="clearfix">
                    	<span class="title">电话：</span>
                        <div class="li_m">
                        	<input name="" type="text">
                        </div>
                    </li>
                    <li class="clearfix">
                    	<span class="title">传真：</span>
                        <div class="li_m">
                        	<input name="" type="text">
                        </div>
                    </li>
                    <li class="clearfix">
                    	<span class="title">内容：</span>
                        <div class="li_m">
                        	<textarea name="" cols="" rows=""></textarea>
                            <i>*</i>
                        </div>
                    </li>
                    <li class="clearfix">
                    	<span class="title">&nbsp;</span>
                        <div class="li_m">
                        	<i class="f14">注：带*为必填项！</i>
                        </div>
                    </li>
                    <li class="btn"><input name="" type="submit" value="提交"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="space_hx">&nbsp;</div>
<!--底部-->
<div class="foot">
	<p>Copyright 2015 © 珠宝交易平台 All rights reserved. <a href="/login">最新公告</a> | <a href="index.html">联系我们</a></p>
</div>
<!--底部-->
</body>
</html>
