<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>福瑞星</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css"/>
<script type="text/javascript" src="/javascripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/javascripts/js/js_z.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/thems.css">

</head>

<body>
<!--头部-->
<div class="head clearfix">
    <div class="logo"><a href="/login"><img src="/images/logo.png" alt="福瑞星"/></a></div>
    <div class="head_r">
    	<div class="shopcar"><a href="/shopcar">我的购物车</a></div>
        <div class="by"><img src="/images/icon1.png" alt=""/></div>
    </div>
</div>
<ul class="nav clearfix">
    <li><a href="/login">首页</a></li>
    <li><a href="/search">裸钻搜索</a></li>
    <li><a href="/product">成品下单区</a></li>
    <li><a href="/price">国际钻石报价表</a></li>
    <li><a href="/diploma">证书查询</a></li>
    <li><a href="/payway">支付方式</a></li>
    <li class="now"><a href="/about.">关于我们</a></li>
    <li><a href="/contact">联系我们</a></li>
    <li><a href="/user">会员中心</a></li>
</ul>
<!--头部-->
<div class="space_hx">&nbsp;</div>
<div class="scd">
	<div class="pst">
    	<span>您现在的位置：</span>
        <a href="/login">首页></a>
        <a href="/login">国际钻石报价表</a>
    </div>
	<div class="space_hx">&nbsp;</div>
    <ul class="z_price clearfix">
    	<li>
        	<a href="/login">
            	<img src="/images/pic4.jpg" alt=""/>
                <p>7.31国际报价TED</p>
            </a>
        </li>
        <li>
        	<a href="/login">
            	<img src="/images/pic4.jpg" alt=""/>
                <p>7.31国际报价TED</p>
            </a>
        </li>
    </ul>
</div>
<div class="space_hx">&nbsp;</div>
<!--底部-->
<div class="foot">
	<p>Copyright 2015 © 珠宝交易平台 All rights reserved. <a href="/login">最新公告</a> | <a href="/login">联系我们</a></p>
</div>
<!--底部-->
</body>
</html>
